# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
venv.bak/
*.env

# Flask
instance/
*.sqlite3
*.log

# Node (untuk React atau jika kamu menggunakan Node.js)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React build files
build/
dist/

# Logs
logs/
*.log

# macOS
.DS_Store

# Linux
*.swp

# Git
*.orig

# Editor config
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
